<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="{% block bodyclass %}none{% endblock %}">
        <div class="container{% if is_granted('ROLE_USER') %}-fluid{% endif %}">
            <div class="row{% block rowclass %}{% endblock %}">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
